In [6]:
import pandas as pd
from sqlalchemy import create_engine
from config import postgresql_pass

### Extract CSVs into DataFrames

In [7]:
csv_file = "Resources/global_mobility_report.csv"
mobility_report_df = pd.read_csv(csv_file)
mobility_report_df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

### Transform wealth DataFrame

In [8]:
# Only grab pecific columns
mobility_cols = ["country_region", "date", "retail_and_recreation_percent_change_from_baseline", "grocery_and_pharmacy_percent_change_from_baseline", "parks_percent_change_from_baseline", "transit_stations_percent_change_from_baseline", "workplaces_percent_change_from_baseline", "residential_percent_change_from_baseline"]
mobility_trans_df = mobility_report_df[mobility_cols].copy()

# Clean the data by dropping dulicates, dropping na, only grabbing latest date, renaming the columns, and setting the index
mobility_trans_df = mobility_trans_df[mobility_trans_df["date"] == "2021-01-05"]
mobility_trans_df.drop_duplicates("country_region",inplace=True)
mobility_trans_df.dropna(inplace=True)
mobility_trans_df = mobility_trans_df.drop(columns="date")
mobility_rename = {
    "country_region": "country",
    "retail_and_recreation_percent_change_from_baseline": "retail_and_recreation",
    "grocery_and_pharmacy_percent_change_from_baseline": "grocery_and_pharmacy",
    "parks_percent_change_from_baseline": "parks",
    "transit_stations_percent_change_from_baseline": "transit_stations",
    "workplaces_percent_change_from_baseline": "workplaces",
    "residential_percent_change_from_baseline": "residential"
    }
mobility_trans_df = mobility_trans_df.rename(columns=mobility_rename)
mobility_trans_df.set_index("country", inplace=True)

mobility_trans_df.head()

,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
country,,,,,,
United Arab Emirates,-17.0,1.0,-28.0,-32.0,-18.0,8.0
Afghanistan,33.0,52.0,21.0,1.0,4.0,3.0
Antigua and Barbuda,-9.0,-3.0,65.0,-33.0,-20.0,3.0
Angola,-9.0,4.0,27.0,2.0,-14.0,8.0
Argentina,-31.0,4.0,-53.0,-32.0,-18.0,8.0

In [9]:
# Set up the Database variables
username = "postgres"
password = postgresql_pass
database = "etl-project_db"
DATABASE_URI = f"postgres://{username}:{password}@localhost/{database}"

# Connect to the database
engine = create_engine(DATABASE_URI)
connection = engine.connect()

In [10]:
mobility_trans_df.to_sql(name='mobility', con=engine, if_exists='append', index=True)