In [1]:
# Import modules
import pandas as pd
from sqlalchemy import create_engine
from config import postgresql_pass

Extract CSVs into DataFrames

In [2]:
internet_use_file = "Resources/users_zs_en_csv_v2.csv"
internet_df = pd.read_csv(internet_use_file)
internet_df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,12/16/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.0,2012.0,2013.0,2014.00,2015.0000,2016.0000,2017.00,2018.00,2019.00,2020.0
4,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,74.0,78.9,83.78,88.6612,93.5425,97.17,97.17,97.17,NaN

In [3]:
c_internet_df=internet_df.drop([0,1,2,3]).copy()
c_internet_df.head(2)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
4,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,74.00000,78.9,83.78,88.6612,93.5425,97.17,97.17,97.17,NaN
5,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.45455,5.9,7.00,8.2600,11.2000,13.50,13.50,13.50,NaN

In [4]:
#Keep the columns
cl_internet_df = c_internet_df[['Data Source','World Development Indicators','Unnamed: 59','Unnamed: 60',	'Unnamed: 61',	'Unnamed: 62',	'Unnamed: 63']].copy()
cl_internet_df.head()

,Data Source,World Development Indicators,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
4,Aruba,ABW,88.6612,93.5425,97.1700,97.1700,97.1700
5,Afghanistan,AFG,8.2600,11.2000,13.5000,13.5000,13.5000
6,Angola,AGO,12.4000,13.0000,14.3391,14.3391,14.3391
7,Albania,ALB,63.2529,66.3634,71.8470,71.8470,69.6429
8,Andorra,AND,96.9100,97.9306,91.5675,91.5675,91.5675

In [5]:
#Rename Columns
internet_rename_col = {'Data Source':'country',	'World Development Indicators':'country_code',	
                       'Unnamed: 2':'%_pop_use_internet',	'Unnamed: 59':'2015',	
                       'Unnamed: 60':'2016'	,'Unnamed: 61':'2017',	'Unnamed: 62':'2018',	
                       'Unnamed: 63':'2019'}
cl_internet_df = cl_internet_df.rename(columns = internet_rename_col)
cl_internet_df.head()

       country country_code     2015     2016     2017     2018     2019
4        Aruba          ABW  88.6612  93.5425  97.1700  97.1700  97.1700
5  Afghanistan          AFG   8.2600  11.2000  13.5000  13.5000  13.5000
6       Angola          AGO  12.4000  13.0000  14.3391  14.3391  14.3391
7      Albania          ALB  63.2529  66.3634  71.8470  71.8470  69.6429
8      Andorra          AND  96.9100  97.9306  91.5675  91.5675  91.5675

In [6]:
# Clean the data by dropping duplicates, dropping na, and setting the index
cl_internet_df.drop_duplicates('country', inplace=True)
cl_internet_df.set_index('country', inplace=True)
cl_internet_df.head()

            country_code     2015     2016     2017     2018     2019
country
Aruba                ABW  88.6612  93.5425  97.1700  97.1700  97.1700
Afghanistan          AFG   8.2600  11.2000  13.5000  13.5000  13.5000
Angola               AGO  12.4000  13.0000  14.3391  14.3391  14.3391
Albania              ALB  63.2529  66.3634  71.8470  71.8470  69.6429
Andorra              AND  96.9100  97.9306  91.5675  91.5675  91.5675

Create database connection

In [7]:
# Set up the Database variables
username = "postgres"
password = postgresql_pass
database = "etl-project_db"
DATABASE_URI = f"postgres://{username}:{password}@localhost/{database}"

# Connect to the database
engine = create_engine(DATABASE_URI)
connection = engine.connect()

Load DataFrames into database

In [8]:
cl_internet_df.to_sql(name='internet_use_by_pecent_popul' ,con=engine, if_exists='append', index=True)